body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Start Button Styling */
.start-btn {
  background-color: #28a745; /* Green background */
  border: solid black; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the container inline-block */
  font-size: 16px; /* Increase font size */
  margin: 20px auto; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 15px; /* Rounded corners */
  font-family: 'Press Start 2P', cursive; /* Matching font */
  box-shadow: 0 3px #999; /* Add shadows */
  border-width: 7px;
}

.start-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.start-btn:active {
  background-color: #3e8e41; /* Even darker green on click */
  box-shadow: 0 2px #666; /* Reduce shadow */
  transform: translateY(2px); /* Push down a bit */
}
